@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
.router-link_active {
  color: white;
}
.nav-item.nav-link.router-link_active {
  color: white;
}
.navbar-brand {
  color: white;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
