<button [class]="'add-button-block '+color+' ' + location"
        (click)="plusButton($event)">
  <div class="button-plus-wrapper">
    <div class="button-plus"
            *ngIf="!addingItem">
      <span class="plus-circle"></span>
      <span class="caption" translate>{{caption}}</span>
    </div>
  </div>
  <div class="item-choice-block" *ngIf="addingItem">
    <div class="item-choice"
         *ngFor="let item of items"
         (click)="addItem(item.id); $event.stopPropagation();"
         translate>
      {{item.title}}
    </div>
  </div>
</button>
