<div class="container-fluid">
  <h2>
    What this is.
  </h2>
  <p>
    This is an army builder app for the miniature wargame Liber Militum Tercios.
    The game is played with 15mm or 28mm miniatures, is set in the 17th century and is focused on the Thirty Years War.
    This is an app I made with two things in mind: to learn Angular 2 and to promote this great game.
  </p>
  <h2>Copyright</h2>
  <p>
    Liber Militum Tercios is a game by 'El Kraken' and they have all the copyright to it. I do not intend to profit from this project in any way.
    Buy the game, it is really good and not very expensive.
  </p>
  <p>
    The app itself is open source and made by me, Alexey Usachev. If you want to support the project, feel free to contribute. Translations to other languages are especially welcome.
  </p>
  <h2>What's done</h2>
  <p>At the moment the app has most of the content of the base book and the expansion Kingdoms.</p>
  <p>You can print the roster in a convenient way or save as a PDF if you like.</p>
  <p>You can save and load rosters.</p>
  <h2>What's coming</h2>
  <ul>
    <li>Implementation of elite troops and unique Russian Artillery Battery Organization.</li>
    <li>Check for special army requirements wil be implemented: at the moment you have to check for yourself.
    </li>
    <li>PWA support</li>
  </ul>
  <h2>Contacts</h2>
  <p>Feel free to email me at <strong>usachev.2010@gmail.com</strong></p>
</div>
