<div class="container-fluid">
  <h2>
    What this is.
  </h2>
  <p>
    This is an army builder app for the miniature wargame Liber Militum Tercios.
    The game is played with 15mm or 28mm miniatures, is set in the 17th century and is focused on the Thirty Years War.
    This is an app I made with two things in mind: to learn Angular 2 and to promote this great game.
  </p>
  <h2>Copyright</h2>
  <p>
    Liber Militum Tercios is a game by 'El Kraken' and they have all the copyright to it.
    Buy the game, it is really good and not very expensive.
  </p>
  <p>
    The app itself is open source
  </p>
</div>
