<div class="commander">
  <strong  style="margin-right: 10px;">Commander Rank:</strong>
  <button
    class="rank-button"
    [disabled]="rank<=commander_data.min_rank"
    (click)="rankReduce()"
  ><span class="plus-circle  minus"></span>
  </button>
  <strong>{{rank}}</strong>
  <button
    class="rank-button"
    [disabled]="rank>=commander_data.max_rank"
    (click)="rankIncrease()"
  ><span class="plus-circle"></span>
  </button>
  <span class="cost" style="margin-left: 10px;">{{cost}} <span translate>pts.</span></span>

  <table style="width:100%" class="trait-block" *ngIf="rank>0">
    <tr>
      <th rowspan="2" class="button-block noprint">
        <button class="edit-button" (click)="openModal()"><span class="fa fa-edit"></span></button>
      </th>
      <td>
        <div class="virtues">
          <strong>Virtues: </strong>
          <span
            class="has-error"
            *ngIf="virtues.length!==number_of_virtues[rank]"
          > pick {{number_of_virtues[rank]}}</span>
          <span class="virtue" *ngFor="let virtue of virtues">{{virtue.id}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="traits">
          <strong>Traits: </strong>
          <span
            class="has-error"
            *ngIf="traits.length!==number_of_traits[rank]"
          > pick {{number_of_traits[rank]}}</span>
          <span class="trait" *ngFor="let trait of traits">{{trait.id}}</span>
        </div>
      </td>
    </tr>
  </table>

  <app-modal
    [modal_class]="'commander-modal'"
    *ngIf="modal_open"
    (close_modal)="closeModal($event)"
  >
    <h4>Choose traits and virtues</h4>
    <div class="panel-left">
      <div class="filter">
        <span class="fa fa-search"></span>
        <input
          type="text"
          (input)="filter_value=$event.target.value;updateTraitsAvailable();updateVirtuesAvailable();"
        >
      </div>
      <div class="virtues">
        <h5>Virtues</h5>
        <div class="virtue"
             *ngFor="let virtue of virtues_available"
             [class.selected]="chosen_item===virtue"
        >
          <button
            [disabled]="virtues.length >= number_of_virtues[rank]"
            (click)="addVirtue(virtue)"
          >
            <span class="plus-circle"></span>
          </button>
          <span
            class="title"
            translate
            (click)="chosen_item=virtue"
          >
            {{virtue.id}}
            </span>
        </div>
      </div>
      <div class="traits">
        <h5>Traits</h5>
        <div class="trait"
             *ngFor="let trait of traits_available"
             [class.selected]="chosen_item===trait"
        >
          <button
            [disabled]="traits.length >= number_of_traits[rank]"
            (click)="addTrait(trait);"
          >
            <span class="plus-circle"></span></button>
          <span
            class="title"
            translate
            (click)="chosen_item=trait"
          >
            {{trait.id}}
          </span>
        </div>
      </div>
    </div>
    <div class="panel-right">
      <div class="options-chosen">
        <h5>Virtues ({{number_of_virtues[rank]}})</h5>
        <div
          class="virtue"
          *ngFor="let virtue of virtues"
          [class.selected]="chosen_item===virtue"
        >
          <button class="remove-option fa fa-trash-o" (click)="removeVirtue(virtue)"></button>
          <span
            class="title"
            translate
            (click)="chosen_item=virtue"
          >{{virtue.id}}
          </span>
        </div>
        <h5>Traits ({{number_of_traits[rank]}})</h5>
        <div
          class="trait"
          *ngFor="let trait of traits"
          [class.selected]="chosen_item===trait"
        >
          <button class="remove-option fa fa-trash-o" (click)="removeTrait(trait)"></button>
          <span
            class="title"
            translate
            (click)="chosen_item=trait"
          >
            {{trait.id}}
          </span>
        </div>
      </div>
      <div class="description">
        <h4>Description</h4>
        <strong translate>{{chosen_item.id}}</strong><br/>
        <span translate></span>{{chosen_item.description}}
      </div>
    </div>
  </app-modal>
</div>
