<div class="commander">
  <strong  style="margin-right: 10px;">Commander Rank:</strong>
  <button
    class="rank-button"
    [disabled]="commander.rank<=commander.commander_data.min_rank"
    (click)="commander.rankReduce()"
  ><span class="plus-circle  minus"></span>
  </button>
  <strong>{{commander.rank}}</strong>
  <button
    class="rank-button"
    [disabled]="commander.rank>=commander.commander_data.max_rank"
    (click)="commander.rankIncrease()"
  ><span class="plus-circle"></span>
  </button>
  <span class="cost" style="margin-left: 10px;">{{commander.cost}} <span translate>pts.</span></span>

  <table style="width:100%" class="trait-block" *ngIf="commander.rank>0">
    <tr>
      <th rowspan="2" class="button-block noprint">
        <button class="edit-button" (click)="openModal()"><span class="fa fa-edit"></span></button>
      </th>
      <td>
        <div class="virtues">
          <strong>Virtues: </strong>
          <span
            class="has-error"
            *ngIf="commander.virtues.length!==commander.number_of_virtues[commander.rank]"
          > pick {{commander.number_of_virtues[commander.rank]}}</span>
          <span class="virtue" *ngFor="let virtue of commander.virtues">{{virtue.id}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="traits">
          <strong>Traits: </strong>
          <span
            class="has-error"
            *ngIf="commander.traits.length!==commander.number_of_traits[commander.rank]"
          > pick {{commander.number_of_traits[commander.rank]}}</span>
          <span class="trait" *ngFor="let trait of commander.traits">{{trait.id}}</span>
        </div>
      </td>
    </tr>
  </table>

  <app-modal
    [modal_class]="'commander-modal'"
    *ngIf="modal_open"
    (close_modal)="closeModal($event)"
  >
    <h4>Choose traits and virtues</h4>
    <div class="panel-left">
      <div class="filter">
        <span class="fa fa-search"></span>
        <input
          type="text"
          (input)="commander.filter_value=$event.target.value; commander.updateTraitsAvailable(); commander.updateVirtuesAvailable();"
        >
      </div>
      <div class="virtues">
        <h5>Virtues</h5>
        <div class="virtue"
             *ngFor="let virtue of commander.virtues_available"
             [class.selected]="chosen_item===virtue"
        >
          <button
            [disabled]="commander.virtues.length >= commander.number_of_virtues[commander.rank]"
            (click)="commander.addVirtue(virtue)"
          >
            <span class="plus-circle"></span>
          </button>
          <span
            class="title"
            translate
            (click)="chosen_item=virtue"
          >
            {{virtue.id}}
            </span>
        </div>
      </div>
      <div class="traits">
        <h5>Traits</h5>
        <div class="trait"
             *ngFor="let trait of commander.traits_available"
             [class.selected]="chosen_item===trait"
        >
          <button
            [disabled]="commander.traits.length >= commander.number_of_traits[commander.rank]"
            (click)="commander.addTrait(trait);"
          >
            <span class="plus-circle"></span></button>
          <span
            class="title"
            translate
            (click)="chosen_item=trait"
          >
            {{trait.id}}
          </span>
        </div>
      </div>
    </div>
    <div class="panel-right">
      <div class="options-chosen">
        <h5>Virtues ({{commander.number_of_virtues[commander.rank]}})</h5>
        <div
          class="virtue"
          *ngFor="let virtue of commander.virtues"
          [class.selected]="chosen_item===virtue"
        >
          <button class="remove-option fa fa-trash-o" (click)="commander.removeVirtue(virtue)"></button>
          <span
            class="title"
            translate
            (click)="chosen_item=virtue"
          >{{virtue.id}}
          </span>
        </div>
        <h5>Traits ({{commander.number_of_traits[commander.rank]}})</h5>
        <div
          class="trait"
          *ngFor="let trait of commander.traits"
          [class.selected]="chosen_item===trait"
        >
          <button class="remove-option fa fa-trash-o" (click)="commander.removeTrait(trait)"></button>
          <span
            class="title"
            translate
            (click)="chosen_item=trait"
          >
            {{trait.id}}
          </span>
        </div>
      </div>
      <div class="description">
        <h4>Description</h4>
        <strong translate>{{chosen_item.id}}</strong><br/>
        <span translate></span>{{chosen_item.description}}
      </div>
    </div>
  </app-modal>
</div>
