@import '../../../main';

@mixin regiment-color($bg, $border, $hover){
  background: $bg;
  border-color: $border;
  .plus-circle {
    border-color: $border;
    &:hover {
      border-color: $hover;
    }
    &:before, &:after {
      background-color: $border;
    }
    &:hover:before, &:hover:after {
      background-color: $hover;
    }
  }
}


.regiment_container {
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  &.green {
    @include regiment-color($green-bg,$green-border,$green-border-hover)
  }
  &.blue {
    @include regiment-color($blue-bg,$blue-border,$blue-border-hover)
  }
  &.yellow {
    @include regiment-color($yellow-bg,$yellow-border,$yellow-border-hover)
  }
  &.red {
    @include regiment-color($red-bg,$red-border,$red-border-hover)
  }
}

.plus-circle {
  width: 30px;
  height: 30px;
  background-color: transparent;
  &:before, &:after {
    background-color: $yellow-border;
    height: 15px;
    left: 14px;
    top: 7.5px;
  }
}

.button-plus-wrapper {
  position: relative;
  span {
    line-height: 30px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 5px;
  }
}

.limits-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.limit {
  display: inline;
  font-weight: 600;
  margin: 5px 30px 0 0;
}

.title {
  display: inline-block;
}
.delete{
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  vertical-align: top;
  color: rgba(0,0,0,0.5);
  &:hover{
    color: rgba(0,0,0,1);
  }
  span {
    line-height: 30px;
    font-size: 16px;
  }
}
.cost {
  display: inline-block;
  float: right;
  text-align: right;
}
