@import "../../../main";

.modal-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  overflow: auto;
}

.modal-window {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  background: white;
  min-height: 50px;
  padding: 30px;
  @media #{$smplus}{
    margin-top: 100px;
  }
  &.commander-modal {
    padding: 30px;
    position: fixed;
    left: 0;
    width: 100%;
    height: 90vh;
    top: 5vh;
    margin-top: 0px;
    @media #{$smplus}{
      left: 50%;
      width: 560px;
      margin-left: -280px;
    }
    @media #{$mdplus}{
      left: 50%;
      width: 650px;
      margin-left: -325px;
    }
    @media #{$lgplus}{
      left: 50%;
      width: 800px;
      margin-left: -400px;
    }
  }
  &.load-modal{
    padding: 30px;
    width: 90vw;
    @media #{$smplus}{
      width: 560px;
    }
    @media #{$mdplus}{
      width: 650px;
    }
  }
  &.warning-modal {
    h3 {
      color: red;
    }
    @media #{$smplus}{
      margin-top: 150px;
    }
    @media #{$mdplus}{
      margin-top: 200px;
    }
  }

}
.content {
}
