<span>{{unit_type}}</span>

<!--<div class="stats-block">-->
  <!--<div class="stat">-->
    <!--<div class="stat-name">-->
      <!--<img src="assets/icons/stats/speed.svg" alt="">-->
    <!--</div>-->
    <!--<div class="stat-value">-->
      <!--{{unit.stats.speed}}-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="stat">-->
    <!--<div class="stat-name">-->
      <!--<img src="assets/icons/stats/speed.svg" alt="">-->
    <!--</div>-->
    <!--<div class="stat-value">-->
      <!--{{unit.stats.speed}}-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="stat">-->
    <!--<div class="stat-name">-->
      <!--<img src="assets/icons/stats/speed.svg" alt="">-->
    <!--</div>-->
    <!--<div class="stat-value">-->
      <!--{{unit.stats.speed}}-->
    <!--</div>-->
  <!--</div><div class="stat">-->
    <!--<div class="stat-name">-->
      <!--<img src="assets/icons/stats/speed.svg" alt="">-->
    <!--</div>-->
    <!--<div class="stat-value">-->
      <!--{{unit.stats.speed}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
