$border-style: 1px solid black;

.stats-block {
  display: table;
  border-top: $border-style;
  border-bottom: $border-style;
}
.stat {
  display: table-cell;
  width: 30px;
  text-align: center;
  font-size: 20px;
  border-right: $border-style;
}
.stat:first-child {
  border-left: $border-style;
}
.stat-name {
  border-bottom: $border-style;
  padding: 5px;
}
.stat-value {
  padding: 3px;
}
