<h1>{{unit.type}}</h1>
<div class="stat">
  <p>
    <span class="name">Speed is </span>
    <span class="value">{{unit.stats.speed}}</span>
  </p>
  <p>
    <span class="name">melee is </span>
    <span class="value">{{unit.stats.melee}}</span>
  </p>
  <p>
    <span class="name">shoot is </span>
    <span class="value">{{unit.stats.shoot}}</span>
  </p>
  <p>
    <span class="name">discipline is </span>
    <span class="value">{{unit.stats.discipline}}</span>
  </p>
  <p>
    <span class="name">courage is </span>
    <span class="value">{{unit.stats.courage}}</span>
  </p>
  <p>
    <span class="name">stamina is </span>
    <span class="value">{{unit.stats.stamina}}</span>
  </p>
  <p>
    <span class="name">infantry is </span>
    <span class="value">{{unit.stats.infantry}}</span>
  </p>
  <p>
    <span class="name">cavalry is </span>
    <span class="value">{{unit.stats.cavalry}}</span>
  </p>
  <p>
    <span class="name">salvo is </span>
    <span class="value">{{unit.stats.salvo}}</span>
  </p>

  <p>
    <span class="name">artillery is </span>
    <span class="value">{{unit.stats.artillery}}</span>
  </p>
  <p>
    <span class="name">rules is </span>
    <span *ngFor="let rule of unit.stats.rules" class="value">{{rule}}</span>
  </p>
  <p>
    <span class="name">weaponry is </span>
    <span *ngFor="let weaponry of unit.stats.weaponry" class="value">{{weaponry}},&nbsp;</span>
  </p>
</div>
