<div class="unit-container">
  <table class="stats-block-mobile noprint">
    <tr>
      <td colspan="6" class="title">
        <span translate>{{unit.unit_data.title}}</span>
        <button class="delete" (click)="deleteUnit()">
          <span class="fa fa-trash-o"></span>
        </button>
      </td>
    </tr>
    <tr class="b-top">
      <td class="stat">
        <div class="stat-name">
          <img src="assets/icons/stats/speed.svg" alt="Speed" title="Speed">
        </div>
        <div class="stat-value">
          {{unit.stats.speed}}
        </div>
      </td>
      <td class="stat">
        <div class="stat-name">
          <img src="assets/icons/stats/melee.svg" alt="Melee" title="Melee">
        </div>
        <div class="stat-value">
          {{unit.stats.melee}}
        </div>
      </td>
      <td class="stat">
        <div class="stat-name">
          <img src="assets/icons/stats/shoot.svg" alt="Shoot" title="Shoot">
        </div>
        <div class="stat-value">
          {{unit.stats.shoot[0]}}<span *ngIf="unit.stats.shoot[0]!=unit.stats.shoot[1]">/{{unit.stats.shoot[1]}}</span>
        </div>
      </td>
      <td class="stat">
        <div class="stat-name">
          <img src="assets/icons/stats/disc.svg" alt="Discipline" title="Discipline">
        </div>
        <div class="stat-value">
          {{unit.stats.discipline}}
        </div>
      </td>
      <td class="stat b-bot">
        <div class="stat-name">
          <img src="assets/icons/stats/courage.svg" alt="Courage" title="Courage">
        </div>
        <div class="stat-value">
          {{unit.stats.courage}}
        </div>
      </td>
      <td class="stat b-bot">
        <div class="stat-name">
          <img src="assets/icons/stats/stamina.svg" alt="Stamina" title="Stamina">
        </div>
        <div class="stat-value">
          {{unit.stats.stamina}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="stat def">
        <div class="stat-name">
          <img src="assets/icons/stats/inf.svg" alt="Defence from Infantry" title="Defence from Infantry">
        </div>
        <div class="stat-value">
          {{unit.stats.infantry}}
        </div>
      </td>
      <td class="stat def">
        <div class="stat-name">
          <img src="assets/icons/stats/cav.svg" alt="Defence from Cavalry" title="Defence from Cavalry">
        </div>
        <div class="stat-value">
          {{unit.stats.cavalry}}
        </div>
      </td>
      <td class="stat def">
        <div class="stat-name">
          <img src="assets/icons/stats/salvo.svg" alt="Defence from Salvo" title="Defence from Salvo">
        </div>
        <div class="stat-value">
          {{unit.stats.salvo}}
        </div>
      </td>
      <td class="stat def">
        <div class="stat-name">
          <img src="assets/icons/stats/art.svg" alt="Defence from Artillery" title="Defence from Artillery">
        </div>
        <div class="stat-value">
          {{unit.stats.artillery}}
        </div>
      </td>
      <td class="stat" colspan="2">
        {{unit.cost}} <span translate>pts.</span>
      </td>
    </tr>
  </table>


  <div class="stats-block-big">
    <div class="title">
      <span translate>{{unit.unit_data.title}}</span>
      <button class="delete" (click)="deleteUnit()">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/speed.svg" alt="Speed" title="Speed">
      </div>
      <div class="stat-value">
        {{unit.stats.speed}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/melee.svg" alt="Melee" title="Melee">
      </div>
      <div class="stat-value">
        {{unit.stats.melee}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/shoot.svg" alt="Shoot" title="Shoot">
      </div>
      <div class="stat-value">
        {{unit.stats.shoot[0]}}<span *ngIf="unit.stats.shoot[0]!=unit.stats.shoot[1]">/{{unit.stats.shoot[1]}}</span>
      </div>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/disc.svg" alt="Discipline" title="Discipline">
      </div>
      <div class="stat-value">
        {{unit.stats.discipline}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/courage.svg" alt="Courage" title="Courage">
      </div>
      <div class="stat-value">
        {{unit.stats.courage}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-name">
        <img src="assets/icons/stats/stamina.svg" alt="Stamina" title="Stamina">
      </div>
      <div class="stat-value">
        {{unit.stats.stamina}}
      </div>
    </div>
    <div class="stat def">
      <div class="stat-name">
        <img src="assets/icons/stats/inf.svg" alt="Defence from Infantry" title="Defence from Infantry">
      </div>
      <div class="stat-value">
        {{unit.stats.infantry}}
      </div>
    </div>
    <div class="stat def">
      <div class="stat-name">
        <img src="assets/icons/stats/cav.svg" alt="Defence from Cavalry" title="Defence from Cavalry">
      </div>
      <div class="stat-value">
        {{unit.stats.cavalry}}
      </div>
    </div>
    <div class="stat def">
      <div class="stat-name">
        <img src="assets/icons/stats/salvo.svg" alt="Defence from Salvo" title="Defence from Salvo">
      </div>
      <div class="stat-value">
        {{unit.stats.salvo}}
      </div>
    </div>
    <div class="stat def">
      <div class="stat-name">
        <img src="assets/icons/stats/art.svg" alt="Defence from Artillery" title="Defence from Artillery">
      </div>
      <div class="stat-value">
        {{unit.stats.artillery}}
      </div>
    </div>
    <div class="stat">
      {{unit.cost}} <span translate>pts.</span>
    </div>
  </div>
</div>
<div class="rules-block" *ngIf="optionsBlockShow" [class.noprint]="optionsBlockPrint">
  <div class="weapons" *ngIf="unit.weaponry.length>0">
    <span translate>Weaponry: <span translate class="weapon" *ngFor="let weapon of unit.weaponry">{{weapon}}</span></span>
  </div>
  <div class="rules" *ngIf="unit.rules.length>0">
    <span translate>Rules: <span translate class="rule" *ngFor="let rule of unit.rules">{{rule}}</span></span>
  </div>
  <div class="options">
    <button class="open_options_button"><span class="fa fa-edit" (click)="options_open=!options_open"></span></button>
    <span translate>Options:
      <span translate class="option-chosen" *ngFor="let option of unit.options_chosen">
        <button class="remove-option fa fa-trash-o" (click)="unit.removeOption(option.id)"></button>
        <span class="option-chosen-caption">{{option.id}}</span>
      </span>
    </span>
  </div>
  <div class="options-block" *ngIf="options_open && unit.options_available.length>0">
    <button class="option"
            *ngFor="let option of unit.options_available"
            (click)="unit.addOption(option.id)">
      <span class="plus-circle"></span>
      <span class="option-caption" translate>
      {{option.id}} <span class="option-cost">{{option.cost}} <span translate>pts.</span></span>
    </span>
    </button>
  </div>
</div>

