<div class="roster-container">
  <h1 translate>{{getFactionTitle()}}</h1>
  <h2 translate>{{getArmyTypeTitle()}}</h2>
  <div class="limits-block">
    <div [class]="'limit '+(getRegimentNumber(regiment_type.id)<regiment_type.min ? 'has-error' : '')"
         *ngFor="let regiment_type of armyTypeData.regiments">
      <span translate>
        {{getRegimentById(regiment_type.id).title}}:
      </span>
      {{getRegimentNumber(regiment_type.id)}}/{{regiment_type.max}}
      <span *ngIf="(getRegimentNumber(regiment_type.id)<regiment_type.min)">
        ({{regiment_type.min}}+)
      </span>
    </div>
    <div class="limit">{{cost}} <span translate>pts.</span></div>
  </div>
  <div class="special-block" *ngIf="armyTypeData.special">
    <strong>Special: </strong><span translate>{{armyTypeData.special}}</span>
  </div>

  <app-commander
    *ngIf="!isEmpty(armyTypeData.commander) && (armyTypeData.commander.max_rank>=0)"
    [commander_data]="armyTypeData.commander"
    (update_cost)="updateCost()"
    #cnc
  >
  </app-commander>
  <div class="" *ngFor='let regiment of regiments; let index = index'>
    <app-regiment
      [regiment_data] ="regiment"
      [regiment_index]="index"
      [faction]="faction"
      (delete_regiment)="deleteRegiment(index)"
      (update_cost)="updateCost()"
    ></app-regiment>
  </div>
  <app-add-button
    *ngIf="availableRegiments.length>0"
    [items]="availableRegiments"
    [caption]="'Add regiment'"
    (add_item)="addRegiment($event)">
  </app-add-button>


</div>
