@import "../../../main";

$regiment-bg-color: #fefdf4;
$regiment-border-color:#ccc8ad;
$regiment-border-hover: #7d8577;


h1 {
  display: inline-block;
  &:after {
    content: ","
  }
  margin-right: 10px;
}
h2 {
  display: inline-block;
  font-style: italic;
}
.action-block {
  float: right;
}
.print-button {
  opacity: 0.8;
  font-size: 30px;
  position: relative;
  &:hover {
    opacity: 1;
  }
}
.roster-container{
  padding: 10px;
  margin: auto;
  max-width: 1000px;
  @media #{$smplus}{
    padding: 20px;
  }
  @media #{$lgplus}{
    padding: 30px;
  }
}

.limits-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.limit {
  display: inline;
  font-weight: 600;
  margin: 5px 30px 0 0;
}


$brand-success: #16922a;
$loader-size: 2em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 2px;
$check-color: $brand-success;


.checkmark {

  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    //left: $check-left;
    left: 0;
    top: $check-height;
    position: absolute;
  }
}



@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
