@import "../../../main";

$regiment-bg-color: #fefdf4;
$regiment-border-color:#ccc8ad;
$regiment-border-hover: #7d8577;


h1 {
  display: inline-block;
  &:after {
    content: ","
  }
  margin-right: 10px;
}
h2 {
  display: inline-block;
  font-style: italic;
}

.roster-container{
  padding: 10px;
  margin: auto;
  max-width: 1000px;
  @media #{$smplus}{
    padding: 20px;
  }
  @media #{$lgplus}{
    padding: 30px;
  }
}

.limits-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.limit {
  display: inline;
  font-weight: 600;
  margin: 5px 30px 0 0;
}



