<div class="roster-container">
  <h1 translate>{{roster.faction_title}}</h1>
  <h2 translate>{{roster.armyTypeData.title}}</h2>
  <div class="action-block">
    <button class="print-button" *ngIf="saved.length>0" title="Load Roster" (click)="toggleLoadModal();"><span class="fa fa-folder-open"></span></button>
    <button class="print-button" title="Save Roster" (click)="saveRoster();"><span class="fa fa-save"></span><span [hidden]="!checkmark_show" class="checkmark draw"></span></button>
    <button class="print-button" title="Print Roster" onclick="window.print();"><span class="fa fa-print"></span></button>
  </div>


  <app-load-modal [open]="load_modal_open" (close_modal)="toggleLoadModal()">
  </app-load-modal>
  <app-modal *ngIf="save_warning_show" (close_modal)="save_warning_show=false" [modal_class]="'warning-modal'">
    <h3 translate>Sorry!</h3>
    <p translate>You have too many saves. Please delete something to save more.</p>
  </app-modal>
  <div class="limits-block">
    <div [class]="'limit '+(roster.getRegimentNumber(regiment_type.id)<regiment_type.min ? 'has-error' : '')"
         *ngFor="let regiment_type of limits"
    >
      <span translate>
        {{roster.getRegimentById(regiment_type.id).title}}:
      </span>
      {{roster.getRegimentNumber(regiment_type.id)}}/{{regiment_type.max}}
      <span *ngIf="(roster.getRegimentNumber(regiment_type.id)<regiment_type.min)">
        ({{regiment_type.min}}+)
      </span>
    </div>
    <div class="limit">{{roster.cost}} <span translate>pts.</span></div>
  </div>
  <div class="special-block" *ngIf="roster.armyTypeData.special">
    <strong>Special: </strong><span translate>{{roster.armyTypeData.special}}</span>
  </div>

  <app-commander
    *ngIf="!isEmpty(roster.armyTypeData.commander) && (roster.armyTypeData.commander.max_rank>=0)"
    [commander]="roster.cnc"
  >
  </app-commander>
  <div class="" *ngFor='let regiment of roster.regiments; let index = index'>
    <app-regiment
      [regiment] = "regiment"
      (delete_regiment)="roster.deleteRegiment(index)"
    ></app-regiment>
  </div>
  <app-add-button
    *ngIf="roster.availableRegiments.length>0"
    [items]="roster.availableRegiments"
    [caption]="'Add regiment'"
    (add_item)="roster.addRegiment($event)">
  </app-add-button>


</div>
