/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

// Theme customization
@import "theme/theme";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=cyrillic');


//colors


$green-bg: #F1F7F1;
$green-border: #B8D7B6;
$green-border-hover: #87BB84;

$blue-bg: #F2F7FA;
$blue-border: #B5C9D6;
$blue-border-hover: #84A4BB;

$red-bg: #F7F2F0;
$red-border: #45494A;
$red-border-hover: #BB928B;

$yellow-bg: #F7F7F0;
$yellow-border: #D6D4B5;
$yellow-border-hover: #BBB784;

$regiment-bg: #fefdf4;
$regiment-border:#ccc8ad;
$regiment-border-hover: #7d8577;

//breakpoints
$xs: (max-width: 559px);
$sm: (min-width: 560px) and (max-width: 767px);
$md: (min-width: 768px) and (max-width: 991px);
$lg: (min-width: 992px) and (max-width: 1199px);
$xl: (min-width: 1200px);

$smplus: (min-width: 560px);
$mdplus: (min-width: 768px);
$lgplus: (min-width: 992px);






h1,h2,h3,h4,h2 {
  font-family: 'Playfair Display', serif;
}
* {
  font-family: 'PT Serif', serif;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.has-error {
  color: red;
}

.plus-circle {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  width: 50px;
  height: 50px;
  transition: border-color 0.3s;
  &:before, &:after {
    background-color: black;
    position: absolute;
    left: 30px;
    top: 13px;
    content: ' ';
    height: 25px;
    width: 2px;
    transition: background-color 0.3s;
  }
  &:before {
    transform: rotate(90deg);
  }

}
