/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

// Theme customization
@import "theme/theme";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=cyrillic');


//colors


$green-bg: #F1F7F1;
$green-border: #B8D7B6;
$green-border-hover: #87BB84;

$blue-bg: #F2F7FA;
$blue-border: #B5C9D6;
$blue-border-hover: #84A4BB;

$red-bg: #F7F2F0;
$red-border: #ba9a99;
$red-border-hover: #BB928B;

$yellow-bg: #F7F7F0;
$yellow-border: #D6D4B5;
$yellow-border-hover: #BBB784;

$regiment-bg: #fefdf4;
$regiment-border:#ccc8ad;
$regiment-border-hover: #88927b;

//breakpoints
$xs: (max-width: 559px);
$sm: (min-width: 560px) and (max-width: 767px);
$md: (min-width: 768px) and (max-width: 991px);
$lg: (min-width: 992px) and (max-width: 1199px);
$xl: (min-width: 1200px);

$smplus: (min-width: 560px);
$mdplus: (min-width: 768px);
$lgplus: (min-width: 992px);


body {
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 24px;
  @media #{$smplus}{
    font-size: 26px;
  }
  @media #{$mdplus}{
    font-size: 28px;
  }
  @media #{$lgplus}{
    font-size: 30px;
  }
}

h2 {
  font-size: 21px;
  @media #{$smplus}{
    font-size: 23px;
  }
  @media #{$mdplus}{
    font-size: 25px;
  }
  @media #{$lgplus}{
    font-size: 27px;
  }
}

h3 {
  font-size: 18px;
  @media #{$smplus}{
    font-size: 20px;
  }
  @media #{$mdplus}{
    font-size: 22px;
  }
  @media #{$lgplus}{
    font-size: 24px;
  }
}

h4 {
  font-size: 16px;
  @media #{$smplus}{
    font-size: 18px;
  }
  @media #{$mdplus}{
    font-size: 20px;
  }
  @media #{$lgplus}{
    font-size: 22px;
  }
}

h5 {
  font-size: 16px;
  @media #{$smplus}{
    font-size: 16px;
  }
  @media #{$mdplus}{
    font-size: 18px;
  }
  @media #{$lgplus}{
    font-size: 19px;
  }
}

* {
  font-family: 'PT Serif', serif;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.has-error {
  color: red;
}

.plus-circle {
  display: inline-block;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  width: 50px;
  height: 50px;
  transition: border-color 0.3s;
  &:before, &:after {
    background-color: black;
    position: absolute;
    left: 24px;
    top: 13px;
    content: ' ';
    height: 25px;
    width: 2px;
    transition: background-color 0.3s;
  }
  &:before {
    transform: rotate(90deg);
  }
}

.noprint {
  @media print {
    display: none !important;
  }
}

button {
  @media print {
    display: none !important;
  }
}

.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 0.4s; /* Adjust this duration */
}

@Keyframes delayedFadeIn {
  0% {opacity: 0;}
  75% {opacity: 0;} /* Set this to 99% for no fade-in. */
  100% {opacity: 1;}
}

